!!! 5
%html{:lang => 'en'}
  %head
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    %meta{:content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type'}
    %meta{:name => :viewport, :content => 'width=device-width,initial-scale=1'}
    %title= @title.present? ? "#{@title} | Padrino Admin" : "Padrino Admin"
    =favicon_tag 'favicon.ico'
    %link{:href => 'http://fonts.googleapis.com/css?family=Varela', :rel => :stylesheet}
    =stylesheet_link_tag '/admin/stylesheets/bootstrap', 'application'

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          =link_to '管理界面', url(:shopowner, :index), :class => 'navbar-brand', :title => '管理界面'
          %ul.nav.navbar-nav.pull-left
            %li{:class => "navbar-module" }
              =link_to "店面", url(:shop, :index)
            %li{:class => "navbar-module" }
              =link_to "商品", url(:good, :index) 
          - if @owner and ! @owner.id.nil?
            %ul.nav.navbar-nav.pull-right
              %li.navbar-edit-account=link_to "个人信息", url(:shopowner, :edit, :id => @owner.id),:class => 'navbar-nav-link'
              %li.navbar-logout=link_to "登出", url(:shopowner,:loginout), :method => 'get', :class => 'navbar-nav-form'
  .container.main
    .main-wrapper
      ={:error => 'danger', :warning => 'warning', :success => 'success', :notice => 'info'}.map { |type, class_name| flash_tag(type, :class => "alert alert-#{class_name} fade in", :bootstrap => true) }.join.html_safe
      .row=yield
      .main-wrapper-push

  %footer
    .container.center
      %p
        Copyright &copy;
        =Time.now.year
        Your Site - Powered by Padrino v.#{Padrino.version}

  =javascript_include_tag 'jquery-1.9.0.min', (Padrino.env == :production ? 'bootstrap/bootstrap.min' : %w[bootstrap/affix bootstrap/alert bootstrap/button bootstrap/carousel bootstrap/collapse bootstrap/dropdown  bootstrap/tooltip bootstrap/transition  bootstrap/modal bootstrap/popover bootstrap/scrollspy bootstrap/tab]), :application
