.base-text
  %p 
    %h1 Welcome to 
  .tabs-content
    %table.table.table-striped.table-hover.table-condensed
      %tr
        %td 
          = link_to "Add Shop!!", url(:shop, :new), :class => "btn btn-infor"
        %td 
          = link_to "Modify your infor", url(:shopowner, :edit, :id => @owner.id), :class => "btn btn-infor"


        

