%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:admins, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:admins, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:admins, :edit, :id => @admin.id)

.tabs-content
  = form_for :admin, url(:admins, :update, :id => @admin.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'admins/form', :locals => { :f => f }
